.footer {
  background-color: $color-footer-bg;
  color: $color-bg-white;
  padding: 1.5rem 0;
  margin-top: auto;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
  }

  &__text {
    margin: 0;
  }
}
